<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hw.thomasfrow.invenfc" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".InvenfcApplication"
        android:allowBackup="true"
        android:icon="@mipmap/mainlogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".invenfc"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <data android:mimeType="application/com.hw.thomasfrow.invenfc" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewItem"
            android:exported="true"
            android:label="@string/title_activity_view_item"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".TestDatabaseActivity"
            android:exported="true"
            android:label="@string/title_activity_test_database" >
        </activity>
        <activity
            android:name=".showInventoryActivity"
            android:exported="true"
            android:label="@string/title_activity_show_inventory"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".createTagActivity"
            android:label="@string/title_activity_create_tag" >
        </activity>
        <activity
            android:name=".filteredInventoryActivity"
            android:label="@string/title_activity_filtered_inventory"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".InvenfcApplication"
            android:label="@string/title_activity_invenfc_application" >
        </activity>
        <activity
            android:name=".showUserActivity"
            android:label="@string/title_activity_show_user" >
        </activity>
    </application>

</manifest>
